In [1]:
## Assessment 8th of May 2024 at 23:55 Transport in Ireland

# MSc in Data Analytics 
## Statistics for Data Analysis

In [2]:
# Importing some libraries:
import pandas as pd
import statistics as stats
import numpy as np
import csv
# import some libraries for Visualising the price variable:
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Importing the dataset: *THA21 - Average weekly volume of cars for selected traffic count sites*
# Read the CSV file
Datasets = pd.read_csv('THA21.20240419152559 (1).csv')

In [4]:
# Look at the top of the dataset:
Datasets.head()

,STATISTIC,Statistic Label,TLIST(W1),Year,C03910V04662,Transport Traffic Site,C01198V01436,Weeks of the year,UNIT,VALUE
0,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,1,Week 01,Number,463064.0
1,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,2,Week 02,Number,534609.0
2,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,3,Week 03,Number,549470.0
3,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,4,Week 04,Number,550892.0
4,THA21C01,Average weekly volume of cars,2019,2019,10,Selected traffic sites - Dublin,5,Week 05,Number,543468.0

In [ ]:
print(home.describe())